<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Right Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"
          crossorigin="crossorigin"/>
    <link rel="preload" as="style"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
          media="print" onload="this.media='all'"/>
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="{{ url_for('static', filename='css/font-awesome/css/all.min.css') }}?ver=1.2.0"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}?ver=1.2.0"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/aos.css') }}?ver=1.2.0"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}?ver=1.2.0"
          rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body id="top">
<header class="d-print-none">
    <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
            <h1 class="site-title mb-0">Joyce Harrison</h1>
            <div class="site-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link"
                                                href="https://twitter.com/templateflip"
                                                title="Twitter"><i
                                class="fab fa-twitter"></i><span
                                class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.facebook.com/templateflip"
                                                title="Facebook"><i
                                class="fab fa-facebook"></i><span
                                class="menu-title sr-only">Facebook</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.instagram.com/templateflip"
                                                title="Instagram"><i
                                class="fab fa-instagram"></i><span
                                class="menu-title sr-only">Instagram</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://github.com/templateflip"
                                                title="Github"><i
                                class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="page-content">
    <div class="container">
        <div class="cover shadow-lg bg-white">
            <div class="cover-bg p-3 p-lg-4 text-white">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="avatar hover-effect bg-white shadow-sm p-1">
                            <img src="{{ url_for('static', filename='images/avatar.jpg') }}"
                                 width="200" height="200"/>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 text-center text-md-start">
                        <h2 class="h1 mt-2" data-aos="fade-left"
                            data-aos-delay="0" id="user-name">Joyce
                            Harrison</h2>
                        <p data-aos="fade-left" data-aos-delay="100">Graphic
                            Designer & Web Developer</p>
                        <div class="d-print-none" data-aos="fade-left"
                             data-aos-delay="200"><a
                                class="btn btn-light text-dark shadow-sm mt-1 me-1"
                                href="{{ url_for('static', filename='right-resume.pdf') }}"
                                target="_blank">Download CV</a><a
                                class="btn btn-success shadow-sm mt-1"
                                href="#contact">Hire Me</a></div>
                    </div>
                </div>
            </div>
            <div class="about-section pt-4 px-3 px-lg-4 mt-1">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="h3 mb-3">About Me</h2>
                        <p>Hello! I’m Joyce Harrison. I am passionate about
                            UI/UX design and Web Design. I am a skilled
                            Front-end Developer and master of Graphic Design
                            tools such as Photoshop and Sketch.</p>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <div class="row mt-2">
                            <div class="col-sm-4">
                                <div class="pb-1">Name</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="name">
                                    Loading...
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Gender</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="gender">
                                    Loading...
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Email</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="email">
                                    Loading...
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Student ID</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary"
                                     id="student_id">Loading...
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Github</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="github">
                                    Loading...
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Gitlab</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="gitlab">
                                    Loading...
                                </div>
                            </div>
                        </div>
                        <!-- Add button to edit -->
                        <button class="btn btn-primary mt-3" id="editButton"
                                onclick="enableEditing()">Edit
                        </button>
                    </div>
                </div>
            </div>
            <hr class="d-print-none"/>
            <div class="container mt-5">
                <div class="skills-section px-3 px-lg-4">
                    <h2 class="h3 mb-3">Professional Skills</h2>
                    <div id="skills-container" class="row">
                        <!-- Skills will be added here dynamically -->
                    </div>
                    <button class="btn btn-primary mt-3" onclick="addSkill()">
                        Add Skill
                    </button>
                </div>
            </div>

            <hr class="d-print-none"/>
            <div class="work-experience-section px-3 px-lg-4">
                <h2 class="h3 mb-4">Related Projects</h2>
                <div class="timeline" id="projects-timeline"></div>
            </div>
            <hr class="d-print-none"/>
            <div class="page-break"></div>
            <div class="education-section px-3 px-lg-4">
                <h2 class="h3 mb-4">Education</h2>
                <div class="timeline">
                    <div class="timeline-card timeline-card-success card shadow-sm">
                        <div class="card-body">
                            <div class="h5 mb-1">Bachelor of Science in Computer
                                Science <span class="text-muted h6">from University of Example</span>
                            </div>
                            <div class="text-muted text-small mb-2">2010 -
                                2014
                            </div>
                            <div>Studied core computer science topics including
                                algorithms, data structures, and software
                                engineering. Graduated with honors.
                            </div>
                        </div>
                    </div>
                    <div class="timeline-card timeline-card-success card shadow-sm">
                        <div class="card-body">
                            <div class="h5 mb-1">High School Diploma <span
                                    class="text-muted h6">from Example High School</span>
                            </div>
                            <div class="text-muted text-small mb-2">2006 -
                                2010
                            </div>
                            <div>Excelled in science and mathematics.
                                Participated in various extracurricular
                                activities including the computer club.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="d-print-none"/>
            <div class="contactor-section px-3 px-lg-4 pb-4" id="contact">
                <h2 class="h3 text mb-3">Contact</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="my-2"><i class="fab fa-twitter mr-1"></i> <a
                                class="text-dark"
                                href="https://twitter.com/templateflip"
                                target="_blank">Twitter</a></div>
                        <div class="my-2"><i class="fab fa-facebook mr-1"></i>
                            <a class="text-dark"
                               href="https://www.facebook.com/templateflip"
                               target="_blank">Facebook</a></div>
                        <div class="my-2"><i class="fab fa-instagram mr-1"></i>
                            <a class="text-dark"
                               href="https://www.instagram.com/templateflip"
                               target="_blank">Instagram</a></div>
                        <div class="my-2"><i class="fab fa-github mr-1"></i> <a
                                class="text-dark"
                                href="https://github.com/templateflip"
                                target="_blank">Github</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="my-2"><i class="far fa-envelope mr-1"></i>
                            <a class="text-dark"
                               href="mailto:hello@templateflip.com">hello@templateflip.com</a>
                        </div>
                        <div class="my-2"><i class="fas fa-mobile-alt mr-1"></i>
                            <a class="text-dark" href="tel:+17182345527">+1
                                718-234-5527</a></div>
                        <div class="my-2"><i
                                class="fas fa-map-marker-alt mr-1"></i> <span
                                class="text-dark">123 Main Street, San Francisco, CA 94122</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
        <div class="my-3">
            <div class="h4">Joyce Harrison</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link"
                                                href="https://twitter.com/templateflip"
                                                title="Twitter"><i
                                class="fab fa-twitter"></i><span
                                class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.facebook.com/templateflip"
                                                title="Facebook"><i
                                class="fab fa-facebook"></i><span
                                class="menu-title sr-only">Facebook</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.instagram.com/templateflip"
                                                title="Instagram"><i
                                class="fab fa-instagram"></i><span
                                class="menu-title sr-only">Instagram</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://github.com/templateflip"
                                                title="Github"><i
                                class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="text-small">
            <div class="mb-1">&copy; Right Resume. All rights reserved.</div>
            <div>Design - <a href="https://templateflip.com" target="_blank">TemplateFlip</a>
            </div>
        </div>
    </div>
</footer>
<script
        src="{{ url_for('static', filename='js/jquery.min.js') }}?ver=1.2.0"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?ver=1.2.0"></script>
<script src="{{ url_for('static', filename='js/aos.js') }}?ver=1.2.0"></script>
<script src="{{ url_for('static', filename='js/main.js') }}?ver=1.2.0"></script>
<script>
    AOS.init();
</script>
</body>
</html>

<script>
    function fetchPersonalInfo(user_id) {
        fetch(`/get_personal_info?user_id=${encodeURIComponent(user_id)}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('personal-info').innerHTML = `<p>${data.error}</p>`;
                } else {
                    // 将返回的数据填充到个人信息模块中
                    document.getElementById('name').innerText = data.name;
                    document.getElementById('gender').innerText = data.gender;
                    document.getElementById('email').innerText = data.email;
                    document.getElementById('student_id').innerText = data.student_id;
                    document.getElementById('github').innerText = data.github;
                    document.getElementById('gitlab').innerText = data.gitlab;
                    document.querySelector('.h1.mt-2').innerText = data.name;
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function fetchProjectsInfo(user_id) {
        fetch(`/get_projects_info?user_id=${encodeURIComponent(user_id)}`)
            .then(response => response.json())
            .then(data => {
                const projectsContainer = document.getElementById('projects-timeline');
                projectsContainer.innerHTML = ''; // Clear existing content
                data.forEach(project => {
                    console.log(project)
                    const projectCard = document.createElement('div');
                    projectCard.className = 'timeline-card timeline-card-primary card shadow-sm';
                    projectCard.innerHTML = `
                    <div class="card-body">
                        <div class="h5 mb-1">${project.title}</div>
                        <p class="text-muted">${project.description}</p>
                        <div class="text-muted text-small mb-2">${project.start_time} - ${project.end_time}</div>
                        <div><strong>GitHub:</strong> <a href="${project.git_link}" target="_blank">${project.git_link}</a></div>
                        <div><strong>Online Service:</strong> <a href="${project.online_service}" target="_blank">${project.online_service}</a></div>
                        <div><strong>Skills:</strong> ${project.skills}</div>
                    </div>
                `;
                    projectsContainer.appendChild(projectCard);
                });
            })
            .catch(error => console.error('Error:', error));
    }

    function enableEditing() {
        // List of IDs to make editable
        const fields = ["name", "gender", "email", "student_id", "github", "gitlab"];

        fields.forEach(id => {
            const element = document.getElementById(id);
            const content = element.textContent.trim();
            const input = document.createElement("input");

            input.type = "text";
            input.className = "form-control"; // Optional styling
            input.value = content === "Loading..." ? "" : content;
            input.id = id; // Preserve the ID

            element.replaceWith(input);
        });

        // Change button to save changes
        const button = document.getElementById("editButton");
        button.textContent = "Save";
        button.onclick = saveChanges;
    }

    function saveChanges() {
        // List of IDs to save editable content
        const fields = ["name", "gender", "email", "student_id", "github", "gitlab"];

        fields.forEach(id => {
            const input = document.getElementById(id);
            const content = input.value.trim();
            const div = document.createElement("div");

            div.className = "pb-1 text-secondary";
            div.id = id;
            div.textContent = content === "" ? "Loading..." : content;

            input.replaceWith(div);
        });

        // Change button back to edit mode
        const button = document.getElementById("editButton");
        button.textContent = "Edit";
        button.onclick = enableEditing;
    }

    function createSkillElement(skillName = '', skillValue = 0) {
        return `
                <div class="col-md-6 mb-3 skill-item">
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Skill Name" value="${skillName}">
                        <div class="progress my-1">
                            <div class="progress-bar bg-primary"
                                 role="progressbar" style="width: ${skillValue}%"
                                 aria-valuenow="${skillValue}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <input type="number" class="form-control" min="0" max="100" value="${skillValue}" onchange="updateProgress(this)">
                        <button class="btn btn-danger mt-2" onclick="removeSkill(this)">Delete</button>
                    </div>
                </div>
            `;
    }

    function addSkill() {
        const skillsContainer = document.getElementById('skills-container');
        skillsContainer.insertAdjacentHTML('beforeend', createSkillElement());
    }

    function removeSkill(button) {
        const skillItem = button.closest('.skill-item');
        skillItem.remove();
    }

    function updateProgress(input) {
        const progressBar = input.previousElementSibling.firstElementChild;
        const value = input.value;
        progressBar.style.width = value + '%';
        progressBar.setAttribute('aria-valuenow', value);
    }

    let user_id = localStorage.getItem('user_id')
    document.addEventListener('DOMContentLoaded', function () {
        fetchPersonalInfo(user_id);
        fetchProjectsInfo(user_id);
    });
</script>
</body>
</html>