<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Right Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"
          crossorigin="crossorigin"/>
    <link rel="preload" as="style"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
          media="print" onload="this.media='all'"/>
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="{{ url_for('static', filename='css/font-awesome/css/all.min.css') }}?ver=1.2.0"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}?ver=1.2.0"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/aos.css') }}?ver=1.2.0"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}?ver=1.2.0"
          rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body id="top">
<header class="d-print-none">
    <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
            <h1 class="site-title mb-0">Joyce Harrison</h1>
            <div class="site-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link"
                                                href="https://twitter.com/templateflip"
                                                title="Twitter"><i
                                class="fab fa-twitter"></i><span
                                class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.facebook.com/templateflip"
                                                title="Facebook"><i
                                class="fab fa-facebook"></i><span
                                class="menu-title sr-only">Facebook</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.instagram.com/templateflip"
                                                title="Instagram"><i
                                class="fab fa-instagram"></i><span
                                class="menu-title sr-only">Instagram</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://github.com/templateflip"
                                                title="Github"><i
                                class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="page-content">
    <div class="container">
        <div class="cover shadow-lg bg-white">
            <div class="cover-bg p-3 p-lg-4 text-white">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="avatar hover-effect bg-white shadow-sm p-1">
                            <img src="{{ url_for('static', filename='images/avatar.jpg') }}"
                                 width="200" height="200"/>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 text-center text-md-start">
                        <h2 class="h1 mt-2" data-aos="fade-left"
                            data-aos-delay="0" id="user-name">Joyce
                            Harrison</h2>
                        <p data-aos="fade-left" data-aos-delay="100">Graphic
                            Designer & Web Developer</p>
                        <div class="d-print-none" data-aos="fade-left"
                             data-aos-delay="200"><a
                                class="btn btn-light text-dark shadow-sm mt-1 me-1"
                                href="{{ url_for('static', filename='right-resume.pdf') }}"
                                target="_blank">Download CV</a><a
                                class="btn btn-success shadow-sm mt-1"
                                href="#contact">Hire Me</a></div>
                    </div>
                </div>
            </div>
            <div class="about-section pt-4 px-3 px-lg-4 mt-1">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="h3 mb-3">About Me</h2>
                        <p>Hello! I’m Joyce Harrison. I am passionate about
                            UI/UX design and Web Design. I am a skilled
                            Front-end Developer and master of Graphic Design
                            tools such as Photoshop and Sketch.</p>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <div class="row mt-2">
                            <div class="col-sm-4">
                                <div class="pb-1">Name</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="name">

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Gender</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="gender">

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Email</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="email">

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Student ID</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary"
                                     id="student_id">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Github</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="github">

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pb-1">Gitlab</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pb-1 text-secondary" id="gitlab">

                                </div>
                            </div>
                        </div>
                        <!-- Add button to edit -->
                        <button class="btn btn-primary mt-3" id="editButton"
                                onclick="enableEditing()">Edit
                        </button>
                    </div>
                </div>
            </div>
            <hr class="d-print-none"/>
            <div class="container mt-5">
                <div class="skills-section px-3 px-lg-4">
                    <h2 class="h3 mb-3">Professional Skills</h2>
                    <div id="skills-container" class="row">
                        <!-- Skills will be added here dynamically -->
                    </div>
                    <button class="btn btn-primary mt-3" onclick="addSkill()">
                        Add Skill
                    </button>
                    <button class="btn btn-primary mt-3" onclick="saveSkills()">
                        Save Skills
                    </button>
                </div>
            </div>

            <hr class="d-print-none"/>
            <div class="add-project-section px-3 px-lg-4">
                <h2 class="h3 mb-4">Add New Project</h2>
                <form id="add-project-form">
                    <div class="form-group">
                        <label for="title">Project Title</label>
                        <input type="text" class="form-control" id="title"
                               name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Project Description</label>
                        <textarea class="form-control" id="description"
                                  name="description" rows="3"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="start_time">Start Time</label>
                        <input type="date" class="form-control" id="start_time"
                               name="start_time" required>
                    </div>
                    <div class="form-group">
                        <label for="end_time">End Time</label>
                        <input type="date" class="form-control" id="end_time"
                               name="end_time" required>
                    </div>
                    <div class="form-group">
                        <label for="git_link">GitHub Link</label>
                        <input type="text" class="form-control" id="git_link"
                               name="git_link" required>
                    </div>
                    <div class="form-group">
                        <label for="online_service">Online Service</label>
                        <input type="text" class="form-control"
                               id="online_service" name="online_service"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="skills">Skills</label>
                        <input type="text" class="form-control" id="skills"
                               name="skills" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Project
                    </button>
                </form>
            </div>

            <hr class="d-print-none"/>
            <div class="projects-section px-3 px-lg-4">
                <h2 class="h3 mb-4">Projects</h2>
                <div class="timeline" id="projects-timeline">
                    <!-- dynamically generate project experiences -->
                </div>
            </div>

            <hr class="d-print-none"/>
            <div class="add-education-section px-3 px-lg-4">
                <h3 class="h5">Add New Education</h3>
                <form id="add-education-form">
                    <div class="form-group">
                        <label for="degree">Degree</label>
                        <input type="text" class="form-control" id="degree"
                               name="degree" required>
                    </div>
                    <div class="form-group">
                        <label for="institution">Institution</label>
                        <input type="text" class="form-control"
                               id="institution" name="institution" required>
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" class="form-control"
                               id="start_date" name="start_date" required>
                    </div>
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" class="form-control"
                               id="end_date" name="end_date" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"
                                  name="description" rows="3"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add
                        Education
                    </button>
                </form>
            </div>
            <hr class="d-print-none"/>
            <div class="page-break"></div>
            <div class="education-section px-3 px-lg-4">
                <h2 class="h3 mb-4">Education</h2>

                <!-- timeline of educational experience -->
                <div class="timeline" id="education-timeline">
                    <!-- dynamically generate educational experiences -->
                </div>
            </div>

            <hr class="d-print-none"/>
            <div class="contactor-section px-3 px-lg-4 pb-4" id="contact">
                <h2 class="h3 text mb-3">Contact</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="my-2"><i class="fab fa-twitter mr-1"></i> <a
                                class="text-dark"
                                href="https://twitter.com/templateflip"
                                target="_blank">Twitter</a></div>
                        <div class="my-2"><i class="fab fa-facebook mr-1"></i>
                            <a class="text-dark"
                               href="https://www.facebook.com/templateflip"
                               target="_blank">Facebook</a></div>
                        <div class="my-2"><i class="fab fa-instagram mr-1"></i>
                            <a class="text-dark"
                               href="https://www.instagram.com/templateflip"
                               target="_blank">Instagram</a></div>
                        <div class="my-2"><i class="fab fa-github mr-1"></i> <a
                                class="text-dark"
                                href="https://github.com/templateflip"
                                target="_blank">Github</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="my-2"><i class="far fa-envelope mr-1"></i>
                            <a class="text-dark"
                               href="mailto:hello@templateflip.com">hello@templateflip.com</a>
                        </div>
                        <div class="my-2"><i class="fas fa-mobile-alt mr-1"></i>
                            <a class="text-dark" href="tel:+17182345527">+1
                                718-234-5527</a></div>
                        <div class="my-2"><i
                                class="fas fa-map-marker-alt mr-1"></i> <span
                                class="text-dark">123 Main Street, San Francisco, CA 94122</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
        <div class="my-3">
            <div class="h4">Joyce Harrison</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link"
                                                href="https://twitter.com/templateflip"
                                                title="Twitter"><i
                                class="fab fa-twitter"></i><span
                                class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.facebook.com/templateflip"
                                                title="Facebook"><i
                                class="fab fa-facebook"></i><span
                                class="menu-title sr-only">Facebook</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://www.instagram.com/templateflip"
                                                title="Instagram"><i
                                class="fab fa-instagram"></i><span
                                class="menu-title sr-only">Instagram</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="https://github.com/templateflip"
                                                title="Github"><i
                                class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="text-small">
            <div class="mb-1">&copy; Right Resume. All rights reserved.</div>
            <div>Design - <a href="https://templateflip.com" target="_blank">TemplateFlip</a>
            </div>
        </div>
    </div>
</footer>
<script
        src="{{ url_for('static', filename='js/jquery.min.js') }}?ver=1.2.0"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?ver=1.2.0"></script>
<script src="{{ url_for('static', filename='js/aos.js') }}?ver=1.2.0"></script>
<script src="{{ url_for('static', filename='js/main.js') }}?ver=1.2.0"></script>
<script>
    AOS.init();
</script>
</body>
</html>

<script>
    let user_id = localStorage.getItem('user_id')

    function fetchPersonalInfo(user_id) {
        fetch(`user_info/get_user_info?user_id=${encodeURIComponent(user_id)}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('personal-info').innerHTML = `<p>${data.error}</p>`;
                } else {
                    // populate the returned data into the personal information module
                    console.log(data)
                    document.getElementById('name').innerText = data.name;
                    document.getElementById('gender').innerText = data.gender;
                    document.getElementById('email').innerText = data.email;
                    document.getElementById('student_id').innerText = data.student_id;
                    document.getElementById('github').innerText = data.github;
                    document.getElementById('gitlab').innerText = data.gitlab;
                    document.querySelector('.h1.mt-2').innerText = data.name;
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function fetchProjectsInfo(user_id) {
        fetch(`user_project/get_projects_info?user_id=${encodeURIComponent(user_id)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                const projectsContainer = document.getElementById('projects-timeline');
                projectsContainer.innerHTML = ''; // Clear existing content
                data.forEach(project => {
                    console.log(project)
                    const projectCard = document.createElement('div');
                    projectCard.className = 'timeline-card timeline-card-primary card shadow-sm';
                    projectCard.innerHTML = `
                    <div class="card-body">
                        <div class="h5 mb-1">${project.title}</div>
                        <p class="text-muted">${project.description}</p>
                        <div class="text-muted text-small mb-2">${project.start_time} - ${project.end_time}</div>
                        <div><strong>GitHub:</strong> <a href="${project.git_link}" target="_blank">${project.git_link}</a></div>
                        <div><strong>Online Service:</strong> <a href="${project.online_service}" target="_blank">${project.online_service}</a></div>
                        <div><strong>Skills:</strong> ${project.skills}</div>
                    </div>
                `;
                    projectsContainer.appendChild(projectCard);
                });
            })
            .catch(error => console.error('Error:', error));
    }

    function enableEditing() {
        // List of IDs to make editable
        const fields = ["name", "gender", "email", "student_id", "github", "gitlab"];

        fields.forEach(id => {
            const element = document.getElementById(id);
            const content = element.textContent.trim();
            const input = document.createElement("input");

            input.type = "text";
            input.className = "form-control"; // Optional styling
            input.value = content === "" ? "" : content;
            input.id = id; // Preserve the ID

            element.replaceWith(input);
        });

        // Change button to save changes
        const button = document.getElementById("editButton");
        button.textContent = "Save";
        button.onclick = saveChanges;
    }

    function saveChanges() {
        // List of IDs to save editable content
        const fields = ["name", "gender", "email", "student_id", "github", "gitlab"];
        let data = {};

        fields.forEach(id => {
            const input = document.getElementById(id);
            const content = input.value.trim();
            const div = document.createElement("div");

            div.className = "pb-1 text-secondary";
            div.id = id;
            div.textContent = content === "" ? "" : content;

            input.replaceWith(div);

            // Add the field to the data object
            data[id] = content;
        });

        // Include the user_id from localStorage
        const userId = localStorage.getItem('user_id');
        if (userId) {
            data['user_id'] = userId;
        }

        // Convert data to JSON
        const jsonData = JSON.stringify(data);

        // Send data to the server via an HTTP POST request
        fetch('user_info/update_user_info', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => response.json())
            .then(result => {
                console.log('Data saved successfully:', result);
            })
            .catch(error => {
                console.error('Error saving data:', error);
            });

        // Change button back to edit mode
        const button = document.getElementById("editButton");
        button.textContent = "Edit";
        button.onclick = enableEditing;
    }


    function createSkillElement(skillName = '', skillValue = 0) {
        return `
            <div class="col-md-6 mb-3 skill-item">
            <div class="mb-2">
                <input type="text" class="form-control" placeholder="Skill Name" value="${skillName}">
                <div class="progress my-1">
                    <div class="progress-bar bg-primary"
                         role="progressbar" style="width: ${skillValue}%"
                         aria-valuenow="${skillValue}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <input type="number" class="form-control" min="0" max="100" value="${skillValue}" onchange="updateProgress(this)">
                <button class="btn btn-danger mt-2" onclick="removeSkill(this)">Delete</button>
            </div>
        </div>
    `;
    }

    function addSkill() {
        const skillName = prompt('Enter skill name:');
        const skillRate = prompt('Enter skill rate (1-5):');
        if (skillName && skillRate) {
            const skillElement = createSkillElement(skillName, skillRate * 20); // Multiply by 20 for percentage
            document.getElementById('skills-container').insertAdjacentHTML('beforeend', skillElement);
        }
    }

    function saveSkills() {
        const skillsContainer = document.getElementById('skills-container');
        const skills = Array.from(skillsContainer.querySelectorAll('.skill-item')).map(skillElement => {
            const skillName = skillElement.querySelector('input[type="text"]').value;
            const skillRate = skillElement.querySelector('input[type="number"]').value;
            return {
                skill_name: skillName,
                rate: parseInt(skillRate, 10) / 20  // Convert back to a 1-5 scale
            };
        });

        console.log(skills)
        let dataSkills = {};
        const userId = localStorage.getItem('user_id');
        if (userId) {
            dataSkills['user_id'] = userId;
            dataSkills['skills'] = skills;
        }

        fetch('/user_skill/add_skills', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataSkills)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to save skills');
                }
                console.log('Skills saved successfully');
            })
            .catch(error => console.error('Failed to save skills:', error));
    }

    async function loadSkills() {
        try {
            const response = await fetch('http://127.0.0.1:5000/user_skill/get_skills_info?user_id=1');
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const skills = await response.json();
            const skillsContainer = document.getElementById('skills-container');
            skillsContainer.innerHTML = ''; // Clear existing skills before loading new ones

            skills.forEach(skill => {
                const skillElement = createSkillElement(skill.skill_name, skill.rate * 20); // Multiply by 20 for percentage
                skillsContainer.insertAdjacentHTML('beforeend', skillElement);
            });
        } catch (error) {
            console.error('Failed to load skills:', error);
        }
    }

    function updateProgress(inputElement) {
        const progressValue = inputElement.value;
        const progressBar = inputElement.closest('.skill-item').querySelector('.progress-bar');
        progressBar.style.width = `${progressValue}%`;
        progressBar.setAttribute('aria-valuenow', progressValue);
    }

    function removeSkill(button) {
        const skillItem = button.closest('.skill-item');
        skillItem.remove();
    }

    // Ensure skills are loaded when the page is loaded
    document.addEventListener('DOMContentLoaded', function () {
        loadSkills();
    });

    function updateProgress(input) {
        const progressBar = input.previousElementSibling.firstElementChild;
        const value = input.value;
        progressBar.style.width = value + '%';
        progressBar.setAttribute('aria-valuenow', value);
    }

    document.getElementById("add-project-form").addEventListener("submit", function (event) {
        event.preventDefault();
        start_time = document.getElementById("start_time").value.replaceAll("-", " ")
        end_time = document.getElementById("end_time").value.replaceAll("-", " ")
        console.log(start_time)
        console.log(end_time)
        // collect form data
        const projectData = {
            title: document.getElementById("title").value,
            description: document.getElementById("description").value,
            start_time: document.getElementById("start_time").value += " 00:00:00",
            end_time: document.getElementById("end_time").value += " 00:00:00",
            git_link: document.getElementById("git_link").value,
            online_service: document.getElementById("online_service").value,
            skills: document.getElementById("skills").value,
            user_id: user_id
        };

        console.log(projectData)
        // send data to the server
        fetch("user_project/add_project", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(projectData)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.code === 200) {
                    // if success, add the project to timeline
                    addProjectToTimeline(projectData);
                    alert("Project added successfully!");
                } else {
                    alert("Failed to add project.");
                }
            });
    });

    function addProjectToTimeline(project) {
        const timeline = document.getElementById("projects-timeline");

        const newProject = document.createElement("div");
        newProject.className = "timeline-item";
        newProject.innerHTML = `
        <h4>${project.title}</h4>
        <p>${project.description}</p>
        <p>Start: ${project.start_time} - End: ${project.end_time}</p>
        <p><a href="${project.git_link}" target="_blank">GitHub Link</a></p>
        <p>Online Service: ${project.online_service}</p>
        <p>Skills: ${project.skills}</p>
    `;

        timeline.appendChild(newProject);
    }

    document.addEventListener('DOMContentLoaded', function () {
        fetchPersonalInfo(user_id);
        fetchProjectsInfo(user_id);
    });
    document.addEventListener("DOMContentLoaded", function () {
        const educationTimeline = document.getElementById("education-timeline");
        let educationData = [];

        // load existing education data(if exist)
        loadEducationData();

        // process form submission
        document.getElementById("add-education-form").addEventListener("submit", function (event) {
            event.preventDefault();

            const newEducation = {
                degree: document.getElementById("degree").value,
                institution: document.getElementById("institution").value,
                start_date: document.getElementById("start_date").value,
                end_date: document.getElementById("end_date").value,
                description: document.getElementById("description").value
            };

            // save data to array
            educationData.push(newEducation);
            saveEducationData();

            // update timeline
            addEducationToTimeline(newEducation);

            // redo form
            event.target.reset();
        });

        function addEducationToTimeline(education) {
            const card = document.createElement("div");
            card.className = "timeline-card timeline-card-success card shadow-sm";

            card.innerHTML = `
            <div class="card-body">
                <div class="h5 mb-1">${education.degree} <span class="text-muted h6">from ${education.institution}</span></div>
                <div class="text-muted text-small mb-2">${education.start_date} - ${education.end_date}</div>
                <div>${education.description}</div>
                <button class="btn btn-secondary btn-sm mt-2 edit-btn">Edit</button>
            </div>
        `;

            // handle edit button click events
            card.querySelector(".edit-btn").addEventListener("click", function () {
                editEducation(education, card);
            });

            educationTimeline.appendChild(card);
        }

        function editEducation(education, card) {
            // fill in the form to edit education
            document.getElementById("degree").value = education.degree;
            document.getElementById("institution").value = education.institution;
            document.getElementById("start_date").value = education.start_date;
            document.getElementById("end_date").value = education.end_date;
            document.getElementById("description").value = education.description;

            // delete existing card
            educationTimeline.removeChild(card);

            // delete education experiences from data array
            const index = educationData.indexOf(education);
            if (index > -1) {
                educationData.splice(index, 1);
            }
        }

        function saveEducationData() {
            // save data to localStorage or send it to back-end
            localStorage.setItem("educationData", JSON.stringify(educationData));
        }

        function loadEducationData() {
            const savedData = localStorage.getItem("educationData");
            if (savedData) {
                educationData = JSON.parse(savedData);
                educationData.forEach(addEducationToTimeline);
            }
        }
    });
</script>
</body>
</html>